Repository xoeye/serverless-log-dumpster, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, core, dependencies, internal, documentation

Undo removal of `/aws/lambda/` prefix from log group names
  src/logDumper.js
Labels: core

Rescope npm package and update package.json
  package.json
Labels: dependencies

Update README and add contributing guidelines
  CONTRIBUTING.md
  README.md
Labels: documentation

Fix export time math operator precedence
  src/logDumper.js
Labels: core

Fix odd leading slash or double-slash case depending on log group name and path prefix configurations
  src/logDumper.js
Labels: core

Improve logging
  src/index.js
Labels: core

Add log step to demo and document usage of demo projects
  README.md
  demo-projects/create-log-group/sampleLogger.js
  demo-projects/create-log-group/serverless.yml
  demo-projects/delete-log-group/sampleLogger.js
  demo-projects/delete-log-group/serverless.yml
  demo-projects/sampleLogger.js
  package.json
Labels: dependencies, documentation

Typescript time!
  .eslintrc.js
  .github/workflows/publish.yml
  .github/workflows/unit-test.yml
  .lintstagedrc.js
  .mocharc.js
  .vscode/launch.json
  package.json
  src/cfnTemplateDiff.js
  src/cfnTemplateDiff.ts
  src/index.ts
  src/logDumper.ts
  src/test/cfnTemplateDiff.test.ts
  src/test/logDumper.test.ts
  src/test/mocks/awsProvider.mock.ts
  src/test/mocks/serverless.mock.ts
  src/test/plugin.test.ts
  src/types/awsApi.d.ts
  src/types/logGroup.d.ts
  src/types/serverless.d.ts
  test/mocks/awsProvider.mock.js
  test/mocks/serverless.mock.js
  tsconfig.json
  yarn.lock
Labels: tests, core, dependencies

Drop @types/serverless
  .eslintrc.js
  package.json
  src/index.ts
  src/test/mocks/awsProvider.mock.ts
  src/test/mocks/serverless.mock.ts
  src/test/plugin.test.ts
  src/types/awsApi.ts
  src/types/logGroup.ts
  src/types/serverless.d.ts
  src/types/serverless.ts
  yarn.lock
Labels: core, dependencies

Cover isLogGroup in tests
  src/cfnTemplateDiff.ts
  src/test/cfnTemplateDiff.test.ts
Labels: core

.github/labeler.yml:

tests:
  - test/**/*

core:
  - src/**/*

dependencies:
  - yarn.lock
  - package.json

internal:
  - CHANGES.md
  - LICENSE

documentation:
  - README.md
